*
{
    margin: 0%;
    padding:0;
}

body
{
    
    text-transform: capitalize;
    background-color: rgb(10, 1, 28);
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#home
{
    
    padding: 0 10rem;
}
#about
{
    padding: 0 10rem;
}
#contact
{
    padding: 0 10rem;
}
header
{
    background-color: rgb(111, 31, 186);
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-bottom: 30px;
    padding: 2rem 5rem;
    border-radius: 8px;
}

ul
{
    outline: none;
    margin-top: 2rem;
    display: flex;
    list-style: none;
}
#logo
{
    width: 100px;
}
#logo:hover
{
   animation: ani 1200ms infinite;
}
@keyframes ani{
    0%
    {
        box-shadow: 0 0 0 rgb(0, 0, 0);
    }
    100%
    {
        box-shadow: 0 0 35px rgba(0, 0, 0, 0);
    }
}
li{
    align-items:center ;
    margin-left: 3rem;
}

a
{
    text-transform: capitalize;
    padding: 3px 7px;
    outline: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#m1:hover
{
    transition: 300ms;
    border-radius: 8px;
    background-color: aliceblue;
    color: black;
}
#m3:hover
{
    transition: 300ms;
    border-radius: 8px;
    background-color: aliceblue;
    color: black;
}
#m3:hover
{
    transition: 300ms;
    border-radius: 8px;
    background-color: aliceblue;
    color: black;
}
span
{
    font-weight: 700;
}

.heroContent 
{
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}
.heroPic
{
    width: 350px;
}
.heroP{
    display: flex;
    width: 300px;
    font-size: 20px;
}
.aboutContent 
{
    
    display: flex;
    margin-top: 10rem;
    margin-bottom: 22rem;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}
.aboutPic
{
    margin-top: 10rem;
    width: 350px;
}
.aboutP{
    margin-top: 10rem;
    display: flex;
    width: 300px;
    font-size: 20px;
}
.contactContent 
{
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    margin-bottom: 6rem;
}
.contactP
{
    display: flex;
    font-size: 20px;
    margin-bottom: 4rem;
}
#icon1{
    font-size: 25px;
    margin-right: 2rem;
}
#icon2{
    font-size: 25px;
    margin-right: 2rem;
}
#icon3{
    font-size: 25px;
    margin-right: 2rem;
}
#icon1:hover{
    font-size: 28px;
}
#icon2:hover{
    font-size: 28px;
}
#icon3:hover{
    font-size: 28px;
}

footer
{
    text-align: center;
}

/* responsive purpose */
@media(max-width:320px)
{
    header
    {
        background-color:  rgb(10, 1, 28);
        font-size: 15px;
    }
    li
    {
        align-items:center ;
        margin-left: 2rem;
    }
    #logo
    {
        width: 70px;
        margin-left: -12rem;
    }
    .heroContent
    {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
    }
    .heroPic
    {
        
        width: 150px;
    }
    .heroP{
        text-align: center;
        display: flex;
        width: 300px;
        font-size: 16px;
    }
    .aboutContent
    {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
        margin-bottom: 7rem;
    }
    .aboutPic
    {
        width: 150px;
    }
    .aboutP
    {
        margin-top: 3rem;
        text-align: center;
        display: flex;
        width: 300px;
        font-size: 16px;
    }
    .contactContent
    {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
    }
    .contactPic
    {
        width: 150px;
    }
    .ic
    {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-device-width: 321px) and (max-device-width: 768px)
{
    
    a{
        color: white;
    }
    header
    {
        padding: 0 2rem;
        margin-left: 1rem;
        font-size: 15px;
        background-color:  rgb(10, 1, 28);
    }
    li
    {
        align-items:center ;
        margin-left: 2rem;
    }
    #logo
    {
        width: 70px;
        margin-left: -12rem;
    }
    .heroContent
    {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
    }
    .heroPic
    {
        margin-top: -2rem;
        width: 200px;
    }
    .heroP{
        text-align: center;
        display: flex;
        width: 300px;
        font-size: 16px;
    }
    .aboutContent
    {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        margin-bottom: 7rem;
    }
    .aboutPic
    {
        margin-left: -1rem;
        width: 200px;
    }
    .aboutP
    {
        margin-top: 3rem;
        text-align: center;
        display: flex;
        width: 300px;
        font-size: 16px;
    }
    .contactContent
    {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
    }
    .contactPic
    {
        width: 200px;
    }
    .ic
    {
        display: flex;
        flex-direction: row;
    }
}
